.container {
	padding: 0 2rem;
}

.main {
	height: 100vh;
	flex: 1;
}

/* Header */

.headcont {
	background-color: var(--light-color);
	color: var(--dark-color);
	display: block;
	align-items: center;
	padding: 1rem 2rem;
	position: sticky;
	height: 100%;
	box-shadow: 0px 10px 10px -10px rgb(100, 99, 99);
}

.headcont .logo {
	top: 1rem;
	left: 2rem;
}

.headcont img {
	height: 3rem;
}

.headcont .options {
	display: none;
}

.hamburg span {
	position: absolute;
	display: block;
	background-color: black;
	height: 4px;
	width: 2rem;
	border-radius: 1px;
	padding: 0.1rem 0;
	transform: translate(-50%, -50%);
	top: 2.2rem;
	right: 0.5rem;
	transition: 0.5s;
}

.hamburg span:nth-child(1) {
	transform: translate(-50%, -50%) translateY(-0.7rem);
}

.hamburg span:nth-child(4) {
	transform: translate(-50%, -50%) translateY(0.7rem);
}

.hamburg .active span:nth-child(1) {
	transform: translate(-50%, -50%) translateY(-0.9rem);
	opacity: 0;
}

.hamburg .active span:nth-child(4) {
	transform: translate(-50%, -50%) translateY(0.9rem);
	opacity: 0;
}

.hamburg .active span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(45deg);
	transition-delay: 0.2s;
}

.hamburg .active span:nth-child(3) {
	transform: translate(-50%, -50%) rotate(-45deg);
	transition-delay: 0.2s;
}

.headcont a {
	font-size: 1.2em;
	/* margin: 0 1.7rem; */
}

.cont {
	display: flex;
	justify-content: center;
	animation: dropdown 0.5s ease;
	transition: 1s ease-in;
}

.flexc {
	background-color: var(--light-color);
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	/* box-shadow: 0px 10px 10px -10px rgb(100, 99, 99); */
	/* top: 10rem; */
}

.flexc a {
	padding: 1rem;
}

.menubtn {
	border-bottom: 1px solid #000;
}

@keyframes dropdown {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.footer {
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	background-color: var(--dark-color);
	color: var(--light-color);
}
.location_data {
	display: grid;
	grid-template-columns: 40% 60%;
}
.footer_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	margin: auto;
}
.footer_grid_item {
	grid-column: span 3;
}
.footer_title {
	font-weight: bold;
	color: var(--light-color);
	margin-bottom: 1rem;
}
.footer_content {
	padding-bottom: 0.5rem;
}
.product_content {
	display: grid;
	grid-template-columns: 50% 50%;
}
.product_content_list > p {
	padding: 0.2rem 0;
}
@media screen and (min-width: 768px) {
	.container {
		padding: 2rem 6rem;
	}
	.footer_grid_item {
		grid-column: span 1;
	}
	.options a {
		padding: 1rem;
	}
	.headcont {
		display: flex;
	}
	.headcont .options {
		display: flex;
		position: absolute;
		right: 2rem;
	}
	.hamburg {
		display: none;
	}
}

/* @media (min-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
